<% content_for :page_title, "Create a New Quiz" %>
<% content_for :back_link, quizzes_path %>

<%= form_with model: @quiz, local: true do |form| %>
  <%= render "govuk_publishing_components/components/input", {
        label: { text: "Title" },
        name: "quiz[title]",
      } %>
  <%= render "govuk_publishing_components/components/input", {
        label: { text: "Description" },
        name: "quiz[description]",
      } %>
  <div class="govuk-form-group">
    <%= form.submit "Create Quiz", class: "govuk-button" %>
  </div>
<% end %>
